.wrapper
  .eyebrow
    %div
      %ul
        %li.right.home= link_to "Home", "#home"
        %li.left.facilities= link_to "Facilities", "#facilities"
        %li.left.rates= link_to "Rates", "#rates"
        %li.right.attractions= link_to "Attractions", "#nearby-attractions"
        %li.right.directions= link_to "Directions", "#directions"
        %li.left.contact_us= link_to "Contact Us", "#contact-us"
  .header
    .header-content
      .silver-ranch-background
      %h1
        Silver Ranch
  .main
    .main-content
      %section
        %h2#about About
        %p Offering attractive rustic cottages encircling a small game farm.  Situated on the Eastern Coast of South Africa, Silver Ranch is in the heart of the Garden Route.
        %p A stay at Silver Ranch will leave you relaxed and rejuvenated. Plett's climate is mild all year round. 
        %p Plettenberg Bay itself offers many places of interest within a 10km radius; beautiful swimming beaches, interesting shops and good restaurants.

        .boxed
          = img "originals/keurbooms-lagoon.jpg", :width => 820

      %section
        %h2#facilities Facilities
        %p All cottages comprise of 3 bedrooms, 2 bathrooms plus a large loft. The cottages sleep up to 8 people. There is access to the Keurbooms Beach, and also Keurbooms river, which are both 10 minutes walk.

        %p The surroundings are very serene and peaceful and all the houses face a private game park. There is exclusive use of a private swimming pool and recreational facilities.	 
        .boxed
          = img "originals/living-room.jpg", :width => 820
        %h3 The cottages have the following facilities:
        %ul
          %li Bedding and Linen
          %li Television
          %li Cutlery and Crockery
        .boxed
          = img "originals/bedroom-one.jpg", :width => 900

        %h3 Most cottages also have the following(Please request):
        %ul
          %li Digital Satelite Television
          %li Washing Machine
          %li Dishwasher
        .boxed
          = img "main-silver-ranch.png"

      %section
        %h2#rates Rates
        %p Prices vary throughout the seasons but these are generally the costs of rental:
        %table
          %tr
            %td In season: 
            %td R450 per night, R100 per person per night above two people. 
          %tr
            %td Out of season: 
            %td R250 per night, R50 per person per night above two people	
        .boxed
          = img "originals/silver-ranch-view-45-sunset.jpg", :width => 820

      %section
        %h2#nearby-attractions Nearby Attractions
        %p 
          %span.important Khayalethu 
          Situated at the top of Plett, it is a Xhosa cultural experience, a small village where you can purchase unique curios and find out more about the Xhosa culture.	
        %p 
          %span.important Central, Lookout , Robberg
          and
          %span.important Keurbooms 
          are all pristine beaches good for surfing, going on long walks and catching some rays.
        %p 
          %span.important Keurbooms River
          Hop into a boat or canoe and you can spend hours cruising up the river, enjoying the picturesque surroundings. Further toward the mouth you can pop on your wakeboard or skis and have a sweet ride.
        %p 
          For more interesting info on plett please visit the following links:
          %ul
            %li= link_to "http://www.gardenroute.co.za/plett/", "http://www.gardenroute.co.za/plett/"
            %li= link_to "http://www.plettenbergbay.co.za/", "http://www.plettenbergbay.co.za/"
        .boxed
          = img "keurbooms-river.png"
      %section
        %h2#directions Directions
        .boxed
          :plain
            <iframe width="820" height="330" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.au/maps/ms?msa=0&amp;msid=212364396374027311747.0004704fa2a9001f8aee3&amp;ie=UTF8&amp;ll=-34.013965,23.408775&amp;spn=0.093912,0.281181&amp;z=12&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com.au/maps/ms?msa=0&amp;msid=212364396374027311747.0004704fa2a9001f8aee3&amp;ie=UTF8&amp;ll=-34.013965,23.408775&amp;spn=0.093912,0.281181&amp;z=12&amp;source=embed" style="color:#0000FF;text-align:left">Silver Ranch</a> in a larger map</small>
        %ul
          %li From Cape Town:
          %li Follow the N2 past Mossel bay, George and Knysna +-6hrs drive. 
          %li Pass Plett on right, pass the bitou river. 6kms out of plett. 
          %li Go over the bridge (Keurbooms River) take right turning off the N2. The turning is opposite Thyme and Again(on Left). 
          %li Silver Ranch is on left 1km down the road.
        .boxed
          = img "originals/silver-ranch-bok.jpg", :width => 820
      %section
        %h2#contact-us Contact Us
        %ul
          %li 
            Email: 
            = link_to "silver.ranch@rentzke.com", "mailto:silver.ranch@rentzke.com"
          %li
            Phone: 
            = link_to "+27 82 7742321", "tel:+27 82 7742321"
        %p Or fill out this form:
        :plain
          <iframe src="https://spreadsheets.google.com/spreadsheet/embeddedform?formkey=dHJFQVRzOTAxZmd1MTROTTBRakczY0E6MQ" width="820" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        .boxed
          = img "originals/silver-ranch-view-45.jpg", :width => 940
  .footer